body, html{

    margin:0;
    padding:0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 3% 0 3%;
    font-weight: bold;
    font-size: 18px;
}

div{
    flex-direction: row;
 
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#editForm {
    display: none;
}

table {
    font-family: Arial, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #f8f8f8;
    padding: 5px;
}

td {
    border: 1px solid;
    padding: 5px;
}